/* Custom CSS for VitePress theme */
:root {
    --harmoniqs-quantum-brand-color: #523B6F;
    --harmoniqs-quantum-brand-color-light: #6b5289;
    --vp-c-brand-1: var(--harmoniqs-quantum-brand-color);

    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: linear-gradient(45deg, var(--harmoniqs-quantum-brand-color), 30%, var(--harmoniqs-quantum-brand-color-light));

    --vp-button-brand-bg: var(--harmoniqs-quantum-brand-color);
    --vp-button-brand-hover-bg: var(--harmoniqs-quantum-brand-color-light);
  }