/* Custom CSS for VitePress theme */
:root {
    --harmoniqs-quantum-brand-color: #6b5289;
    --harmoniqs-quantum-brand-color-light: #84719b;
    --vp-c-brand-1: var(--harmoniqs-quantum-brand-color);

    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: linear-gradient(45deg, var(--harmoniqs-quantum-brand-color), 30%, var(--harmoniqs-quantum-brand-color-light));

    --vp-button-brand-bg: var(--harmoniqs-quantum-brand-color);
    --vp-button-brand-hover-bg: var(--harmoniqs-quantum-brand-color-light);

    input[type=text] {
      width: 48%;
      padding: 12px 20px;
      margin: 15px 6px;
      box-sizing: border-box;
      border: 2px solid var(--harmoniqs-quantum-brand-color);
      border-radius: 30px;
    }

    input[type=email] {
      width: 48%;
      padding: 12px 20px;
      margin: 8px 6px;
      box-sizing: border-box;
      border: 2px solid var(--harmoniqs-quantum-brand-color);
      border-radius: 30px;
    }

    button.email-submit {
      background-color: var(--harmoniqs-quantum-brand-color);
      border: none;
      color: white;
      padding: 14px 32px;
      margin: 8px 6px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      width: 98%;
      border-radius: 30px;
      margin-bottom: 30px;
    }

    iframe.jp-nb-demo {
      border: 2px solid #523B6F;
      border-radius: 10px;
      width: 100%;
      height: 800px;
    }

    div.bottom-links {
      text-align: center;
      padding: 10px;
      justify-content: space-evenly;
      display: flex;
    }
  }